<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fyg.mb.infrastructure.persistence.UserMapper">

	<resultMap id="hashmap" type="java.util.HashMap">
		<result property="uuid" column="uuid" />
		<result property="realname" column="realname" />
	</resultMap>

	<select id="getAll" resultMap="hashmap">
		select uuid, realname FROM
		userentity
	</select>

	<insert id="save" parameterType="User">
		insert into userentity
		(key_,realname) values(#{key_},#{realname})
	</insert>
	
	<select id="find" resultType="User" parameterType="string" >
	    select uuid, realname FROM
		userentity
		where key_=#{key_}
	</select>
	
	<delete id="delete" parameterType="string" >
		delete from userentity
		where key_=#{key_}
	</delete>

</mapper>